body{
    color: black;
    background-color: blue;
    font-family: "Bona Nova SC", serif;
    margin: 0px;
    margin-bottom: 100px;
}
chamada{
    background: rgb(176, 120, 228);
    margin-top:80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;;
}
header{
    color: beige
    font-size: 40px;
    border-bottom: solid 3px beige