body{
    color: black;
    background-color: blue;
    font-family: "Bona Nova SC", serif;
    margin: 0px;
    margin-bottom: 100px;
}
chamada{
    background: rgb(176, 120, 228);
    margin-top:80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;;
}
header{{
    color: beige
    font-size: 40px;
    border-bottom: solid 3px }
    .cstegoria{
        background-color: rgb(205, 255, 209);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    }
   
    categoria-videos{
display: flex;
overflow: auto;
overflow-x: auto;
gap: 10px;
    }

    .categoria-videos{

        height: 200px;
        opacity: 0.5;
    }

    .categoria-videos img:hover{
        opacity: 1.0;
        border: 3ox solid white
        
    }

    .cstegoria{
 background-color: blueviolet;
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 50px;
 }

 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }
 
 .categoria-videos ing{
    height: 200px;
    opacity: 0.5;
 }

 .categoria-videos ing:hover{
    opacity: 1.0;
    border: 3px solid red;
 }
h2{
    font-size: 25px;
}

 .cstegoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
 }
 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }

 .categoria-videos img{
    height: 200px;
    opacity: o.5;
 }
 .categoria-videos img:hover{
    opacity: 1.0;
border: 3px solid red;
 }
h2{
    font-size: 23px;
}
    
     





